$font-light:	        300;
$font-regular:	        400;
$font-semi-bold:        600;
$font-bold:             700;

////////////////////////////////////////////////////////////////////////
//Bootstrap Variables
$primary:#646c9a;
$font-size-base:1.3rem;
//Bootstrap Variables

$body-color-base : #edf1f5;
$font-color-base:#646c9a;